Package: com.xendke.rateblock
Name: RateBlock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xendke <xendke@gmail.com>
Author: xendke <xendke@gmail.com>
Section: Tweaks
